.sidenav {
  max-height: calc(100vh - 56px);
  width: 54px;
  position: fixed;
  left: 0;
  top: 56px;
  background: #353535;
  overflow-y: scroll;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 101;
  @media screen and (max-width: 900px) {
    max-height: 101vh;
    height: calc(100vh + 5px);
    overflow-y: scroll;
    top: 0;
  }
  .sidenav_top,
  .sidenav_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    img,
    i {
      margin: 7px;
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }
  }
  .sidenav_top {
    border-bottom: 1px solid #595959;
    i {
      background: #4b4b4b;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .sidenav_bottom {
    i {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #4b4b4b;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &:hover{
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #8b8b8b;
  }
  }
}
.close {
  position: absolute;
  // left: 64%;
  right: 0;
  top: 20px;
  z-index: 1000001;
  cursor: pointer;
}
.sidenav_links {
  height: 100vh;
  position: absolute;
  left: 54px;
  width: 900px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 0;
  z-index: 101;
  background: #2e2e2e;
  transition: 0.3s all linear;
  @media screen and (max-width: 900px) {
    transform: translateX(240%);
  }
  li {
    list-style: none;
    cursor: pointer;
    margin: 0 20px;
    padding: 10px 0;
  }
  .navbar_link {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #8b8b8b;
    padding: 17px 0 12px 0;
    white-space: nowrap;
    border-bottom: 3px solid transparent;
    &:hover {
      color: #fafafa;
      border-bottom: 3px solid #0071bd;
    }
    &:nth-child(2) {
      color: #fafafa;
      border-bottom: 3px solid #0071bd;
    }
  }
  @media screen and (min-width: 901px) {
    display: none;
  }
}
.sidenav_container {
  z-index: 1001;
  @media screen and (max-width: 900px) {
    transition: 0.5s all linear;
    position: fixed;
    top: 0px;
    transform: translateX(0%);
    left: 0;
  }
}
.sidenav_close {
  z-index: 1001;
  @media screen and (max-width: 900px) {
    transition: 0.5s all linear;
    overflow: hidden;
    position: relative;
    // top: -56px;
    transform: translateX(-220%);
    left: 0;
  }
}
.menu_close {
  transition: 0.5s all linear;
  transform: translateX(0%);
}
